
<hr/>

<h1>{{CreacionDeComponente}}</h1>

<h2>{{Descripcion}}</h2>

<div class="listaBidireccional">

    <h3>Creacion de una lista en base a una entrada por bidireccion.</h3>

    <ul>

        @for (objeto of objetos; track objeto) {
            <li>{{objeto}}</li>
        } @empty {
            <li>No hay objetos para mostrar</li>
        }

    </ul>

    <h4>{{nuevoObjeto}}</h4>

    <input [(ngModel)]="nuevoObjeto" type="text" placeholder="Agregar un nuevo objeto"/>
    <button (click)="addObjeto()">Añadir</button>

</div>
